body {
  padding: 0;
  margin: 20px;
  background: #fff0cb;
}

.container {
  margin: 20px auto;
  font-family: Raleway, sans-serif;
  text-align: center;
  border: solid 5px #e46950;
  border-radius: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ab331b;
  text-align: center;
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.score {
  background: #ab331b;
  color: white;
  font-size: 38px;
  width: 70px;
  border-radius: 20px;
}

button {
  display: inline-block;
  font-size: 26px;
  border-radius: 20px;
  background: white;
  color: rgb(101, 101, 101);
  font-weight: normal;
  border: solid 3px #da9999;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 650px;
  margin: 0 20px;
  gap: 20px;
}

.hole {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100px;
}

.hole:after {
  display: block;
  background-size: contain;
  background-position: bottom center;
  content: "";
  width: 100%;
  height: 30px;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: black;
  border-radius: 50%;
}

.animal {
  border: none;
  background-image: url("https://assets.codepen.io/5804361/Untitled+design+%2854%29.png");
  background-color: transparent;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: 80%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  left: 0;
  z-index: 1;
}

.hole1 .animal {
  background-image: url("../images/koala.png");
}
.hole2 .animal {
  background-image: url("../images/penguin.png");
}
.hole3 .animal {
  background-image: url("../images/hippo.png");
}
.hole4 .animal {
  background-image: url("../images/giraffe.png");
}
.hole5 .animal {
  background-image: url("../images/elephant.png");
}
.hole6 .animal {
  background-image: url("../images/owl.png");
}
.hole7 .animal {
  background-image: url("../images/zebra.png");
}
.hole8 .animal {
  background-image: url("../images/monkey.png");
}
.hole9 .animal {
  background-image: url("../images/turtle.png");
}

.hole.up .animal {
  top: 0;
}

.copyright {
  color: black;
  margin-top: 60px;
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .title {
    flex: 1;
    align-items: center;
  }

  h1 {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .score {
    font-size: 60px;
  }

  button {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 30px;
  }

  .game {
    flex: 1;
  }
  .hole {
    min-height: 200px;
  }

  .copyright {
    margin-top: 100px;
    font-size: 20px;
  }
}
